#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flasks {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 20px;
  width: 100%;
  justify-content: center;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 12px;
}
